{% extends 'mobile/mobilebase.html' %}
{% load static %}
{% block content %}

<style>
    .profilepic {
        border-radius: 1000px;
        width: 80px;
        height: 80px;
        border: 2px solid var(--my_blue);
        padding: 2px;
        object-fit: cover;
    }
</style>

<div class="container-fluid g-0">
    <div class="row mt-3">
        <div class="col-12">
            <div class="bg-white pd-10 br-30 shadow pr">
                <div class="row">
                    <div class="col-4 my-auto text-center">
                        <img src="{% static 'img/defaultuser.jpg' %}" id="photo" class="profilepic shadow" />
                    </div>
                    <div class="col-8 my-auto">
                        <div class="fwb f-20" id="studentname"></div>
                        <div class="f-12" id="studentcode"></div>
                        <div class="f-12 class_tag" id="studentclass"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light mt-3 g-0 pdy-20 pdx-10" style="border-radius: 20px">
        <div class="col-12 text-center fwb">Personal Details</div>
        <hr>
        <div class="col-12">
            <table class="table f-14" style="vertical-align: middle;">
                <tr>
                    <th>
                        <i class="fas fa-phone me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Mobile</span>
                    </th>
                    <td id="mobileno" onclick="make_call()"></td>
                </tr>
                <tr>
                    <th>
                        <i class="fab fa-whatsapp me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Whatsapp</span>
                    </th>
                    <td id="whatsapp" onclick="open_whastapp()"></td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-envelope me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Email</span>
                    </th>
                    <td id="emailid"></td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-calendar me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Joining Date</span>
                    </th>
                    <td id="joiningdate"></td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-venus-mars me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Gender</span>
                    </th>
                    <td id="gender"></td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-id-card me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Aadhar No</span>
                    </th>
                    <td id="aadhar"></td>
                </tr>
                <tr>
                    <th>
                        <i class="fas fa-male me-2 text-center shadow table_icon_btn bg-orange" shadow></i>
                        <span>Monthly Fee</span>
                    </th>
                    <td id="monthlyfee"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    function make_call() {
        var id = event.target.innerHTML;
        if (id != "") {
            window.open("tel:" + id);
        }
    }

    function open_whastapp(){
        var num = event.target.innerHTML;
        if(num != ""){
            window.open("https://wa.me/"+num);
        }
    }

    function load_data() {
        var studentcode = "{{member_id}}";
        if(studentcode == ""){
            studentcode = $("#USERID").val();
        }

        var data = new FormData();
        data.append("membercode", studentcode);
        var alldata = load_ajax_data("/get_member_profile", data);
        var student = alldata.data[0];

        if (student["picture"] != "") {
            document.getElementById("photo").src = "/static/uploads/" + student["picture"];
        }
        $("#studentname").html(student["fullname"]);
        $("#studentcode").html(studentcode);
        $("#mobileno").html(student["mobile"]);
        $("#emailid").html(student["email"]);
        $("#whatsapp").html(student["whatsapp"]);
        if (student["gender"] == "M") {
            $("#gender").html("Male");
        } else if (student["gender"] == "F") {
            $("#gender").html("Female");
        }
        $("#aadhar").html(student["aadharno"]);
        $("#studentclass").html("Batch : "+student["batchtitle"]);
        $("#joiningdate").html(format_date(student["joiningdate"]));
        $("#monthlyfee").html(INR+" "+student["monthlyfee"]);
    }

    $(window).on("load", function () {
        load_data();
    })
</script>

{% endblock %}