{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="bg-light shadow br-30 pdx-30 pdy-20 main_block">
    <div class="row">
        <div class="col-2 fwb pagehead">Faculty</div>
        <div class="col-3 my-auto" id="status_container">

        </div>
        <div class="col-3 my-auto">
            <div class="bg-white shadow br-30" style="padding:5px 10px;display: inline-block;">
                <input type="text" placeholder="Search..." id="srch" class="search_input" />
            </div>
            <div class="search_icon text-center shadow" onclick="search_page()">
                <i class="fas fa-search p-n"></i>
            </div>
        </div>
        <div class="col-4 text-end my-auto">
            <div class="mybtn shadow blue" onclick="facultyModal()">
                <i class="fas fa-plus mr-10 p-n"></i>
                <span class="p-n">Add Faculty</span>
            </div>
        </div>
    </div>
    <div class="row mt-3" id="card_container">

    </div>
</div>

<!--Card temp-->
<div class="col-12 mb-4 main_card" id="card_temp" hidden style="white-space: nowrap;">
    <div class="bg-white shadow pd-10 br-30">
        <div class="row">
            <div class="col-1">
                <img src="{% static 'img/defaultuser.jpg' %}" alt="" class="small_pic shadow" />
            </div>
            <div class="col-3 my-auto">
                <div class="fwb name" style="font-size:18px"></div>
                <div style="font-size:12px" class="subject">History, Social Studies</div>
            </div>
            <div class="col f-12 my-auto">
                <div class="mb-2">Joining Date</div>
                <div class="fwb joiningdate">06/05/2019</div>
            </div>
            <div class="col-2 f-12 my-auto">
                <div class="mb-2">Education</div>
                <div class="fwb education"></div>
            </div>
            <div class="col f-12 my-auto">
                <div class="mb-2">Experience</div>
                <div class="fwb experience"></div>
            </div>
            <div class="col-2 bl f-14">
                <div class="mb-2">
                    <i class="fas fa-phone faculty_contact_icon shadow me-1"></i>
                    <span class="f-12 mobile"></span>
                </div>
                <div>
                    <i class="fas fa-envelope faculty_contact_icon shadow me-1"></i>
                    <span class="f-12 email"></span>
                </div>
            </div>
            <div class="col-1 text-end my-auto">
                <i class="fas fa-eye mb-2 me-3 cur" style="color:var(--my_green)" onclick="show_detail()"></i>
                <br>
                <i class="fas fa-edit me-3 cur" style="color:var(--my_green)" onclick="edit_faculty()"></i>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="facultyModal" data-id="" style="width:70%;left: 15%;padding: 20px;" tabindex="-1"
    aria-labelledby="facultyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" style="width:100%;">
        <div class="modal-content" style="border-radius: 30px;">
            <div class="modal-header">
                <h5 class="modal-title fwb" id="facultyModalLabel">Add Faculty</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid g-0">
                    <div class="row">
                        <div class="col-3 mb-3">
                            <div style="position: relative;height: 100%;padding-right: 100%;">
                                <input type="file" class="old" id="photofile" hidden accept="image/png, image/jpeg, image/jpg"
                                    onchange="set_profile()" />
                                <img src="{% static 'img/defaultuser.jpg' %}" onclick="click_profie()"
                                    class="add_photo shadow" id="profilepic" />
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-4 mb-4">
                                    <div class="mb-1 f-10">First Name</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="First Name..." id="firstname" />
                                </div>
                                <div class="col-4 mb-4">
                                    <div class="mb-1 f-10">Middle Name</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Middle Name..." id="middlename" />
                                </div>
                                <div class="col-4 mb-4">
                                    <div class="mb-1 f-10">Last Name</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Last Name..." id="lastname" />
                                </div>
                                <div class="col-4 mb-4">
                                    <div class="mb-1 f-10">Email ID</div>
                                    <input type="email" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Email ID..." id="email" />
                                </div>
                                <div class="col-4 mb-4">
                                    <div class="mb-1 f-10">Mobile</div>
                                    <input type="tel" class="form-control f-12 br-30 shadow INP" placeholder="Mobile..."
                                        id="mobile" />
                                </div>
                                <div class="col-4 mb-4">
                                    <div class="mb-1 f-10">Whatsapp</div>
                                    <input type="tel" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Whatsapp..." id="whatsapp" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Gender</div>
                                    <div data-id="" id="gender" class="OP">
                                        <div class="opbtn me-2 shadow" data-id="M">Male</div>
                                        <div class="opbtn shadow" data-id="F">Female</div>
                                    </div>
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Date of Birth</div>
                                    <input type="date" class="form-control f-12 br-30 shadow INP" id="dob" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Joining Date</div>
                                    <input type="date" class="form-control f-12 br-30 shadow INP" id="joiningdate" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Salary</div>
                                    <input type="number" class="form-control f-12 br-30 shadow INP" placeholder="0.00"
                                        id="salary" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Aadhar No</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Aadhar No." id="aadhar" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Education</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Education" id="education" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Experience (Years)</div>
                                    <input type="number" class="form-control f-12 br-30 shadow INP" id="experience" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Name In Bank</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Name In Bank..." id="nameinbank" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Bank Account No</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="Bank Account No..." id="bankaccount" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">Bank Name</div>
                                    <div class="custom_dropdown">
                                        <input type="text" data-id=""
                                            class="search_input form-control f-12 br-30 shadow OP"
                                            placeholder="Bank Name..." id="bankcode" />
                                        <div class="optionblock" id="bankdrop">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">IFSC Code</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP"
                                        placeholder="IFSC Code..." id="ifsc" />
                                </div>
                                <div class="col-3 mb-4">
                                    <div class="mb-1 f-10">User Login Password</div>
                                    <input type="text" class="form-control f-12 br-30 shadow INP" id="loginpass" />
                                </div>
                            </div>
                            <hr>
                            <div class="row mb-4">
                                <div class="col-3">
                                    <div class="mb-1 f-10">Add Subject</div>
                                    <div class="custom_dropdown">
                                        <input type="text" data-id="" id="subject"
                                            class="class search_input shadow br-30 form-control f-12"
                                            placeholder="Subject..." />
                                        <div class="optionblock" id="subject_drop">
                                            {% for subject in subjects %}
                                            <div class="option_item" data-fun="add_subject" data-id="{{subject.id}}">
                                                {{subject.Title}}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-9 mt-auto" id="sub_container">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deletebtn" onclick="start_delete()">Delete</button>
                <button type="button" class="btn btn-primary" id="archivebtn" onclick="archive()">Archive</button>
                <button type="button" class="btn btn-primary" id="unarchivebtn" onclick="unarchive()">Unarchive</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="submit_data()">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="subtemp" hidden class="bg-w shadow br-20 px-3 py-1 f-12 me-3" style="display: inline-block;">
    <span>Subject Title</span>
    <i class="fas fa-trash cl-r f-12 ms-2 ps-2" onclick="event.target.parentElement.remove()"></i>
</div>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 60%;">
        <div class="modal-content br-30">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Faculty Detail</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid g-0">
                    <div class="row">
                        <div class="col-3">
                            <div style="position: relative;width: 100%;padding-bottom: 100%;">
                                <img src="{% static 'img/defaultuser.jpg' %}" alt="" class="shadow" id="detailpic"
                                    style="position: absolute;width: 100%;height: 100%;border-radius: 1000px;padding: 5px;object-fit: cover;border: 2px solid var(--my_blue);">
                            </div>
                        </div>
                        <div class="col-9 f-14 my-auto">
                            <div class="row">
                                <div class="col-4 mb-20">
                                    <div class="f-12 fwb">Full Name</div>
                                    <div id="detail_fullname"></div>
                                </div>
                                <div class="col-4 mb-20">
                                    <div class="f-12 fwb">Mobile</div>
                                    <div id="detail_mobile"></div>
                                </div>
                                <div class="col-4 mb-20">
                                    <div class="f-12 fwb">Whatsapp</div>
                                    <div id="detail_whatsapp"></div>
                                </div>
                                <div class="col-4 mb-20">
                                    <div class="f-12 fwb">Email</div>
                                    <div id="detail_education"></div>
                                </div>
                                <div class="col-4 mb-20">
                                    <div class="f-12 fwb">Gender</div>
                                    <div id="detail_gender"></div>
                                </div>
                                <div class="col-4 mb-20">
                                    <div class="f-12 fwb">Date of Birth</div>
                                    <div id="detail_dob"></div>
                                </div>
                                <div class="col-4">
                                    <div class="f-12 fwb">Joining Date</div>
                                    <div id="detail_joining"></div>
                                </div>
                                <div class="col-4">
                                    <div class="f-12 fwb">Salary</div>
                                    <div id="detail_salary"></div>
                                </div>
                                <div class="col-4">
                                    <div class="f-12 fwb">Aadhar No</div>
                                    <div id="detail_aadhar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row f-14">
                        <div class="col-3 mb-20">
                            <div class="f-12 fwb">Name In Bank</div>
                            <div id="detail_nameinbank">Aditya Nath Tiwari</div>
                        </div>
                        <div class="col-3 mb-20">
                            <div class="f-12 fwb">Bank Account No</div>
                            <div id="detail_account">987987987987979</div>
                        </div>
                        <div class="col-3 mb-20">
                            <div class="f-12 fwb">Bank Name</div>
                            <div id="detail_bank">Union Bank Of India</div>
                        </div>
                        <div class="col-3 mb-20">
                            <div class="f-12 fwb">IFSC</div>
                            <div id="detail_ifsc">UBI98988999</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#facultyModal").find("input").on('keypress',function(e) {
        if(e.which == 13) {
            submit_data();
        }
    });

    function show_detail() {
        var parent = event.target.parentElement.parentElement.parentElement.parentElement;
        var code= parent.getAttribute("data-id");

        $("#detailModalLabel").html("Faculty Detail : "+code);
        var data = new FormData();
        data.append("facultycode", code);
        var maindetail = load_ajax_data("get_faculty_detail", data);
        detail = maindetail.data[0];
        subjects = maindetail.subjects;

        $("#detail_fullname").html(detail["fullname"]);
        $("#detail_mobile").html(detail["mobile"]);
        $("#detail_whatsapp").html(detail["whatsapp"]);
        $("#detail_email").html(detail["email"]);
        if(detail["gender"] == "M"){
            $("#detail_gender").html("Male");
        }else if(detail["gender"] == "F"){
            $("#detail_gender").html("Female");
        }
        $("#detail_dob").html(format_date(detail["dateofbirth"]));
        $("#detail_joining").html(format_date(detail["joiningdate"]));
        $("#detail_salary").html(INR+" "+add_commas(detail["salary"]));
        $("#detail_aadhar").html(detail["aadharno"]);

        $("#detail_nameinbank").html(detail["nameinbank"]);
        $("#detail_account").html(detail["bankaccountno"]);
        $("#detail_bank").html(get_bank_name(detail["bankcode"]));
        $("#detail_ifsc").html(detail["ifsc"]);

        if(detail["photo"] != ""){
            document.getElementById("detailpic").src = "/static/uploads/"+detail["photo"];
        }
        
        $("#detailModal").modal("show");
    }
</script>

<script>
    function start_delete() {
        $("#facultyModal").modal("hide");
        ask_confirm("Are you sure you want to delete this faculty?", "delete_faculty", "hide_confirm");
    }

    function delete_faculty() {
        var id = $("#facultyModalLabel").attr("data-tabid");
        delete_item(id, "Faculty");
        hide_confirm();
        load_status();
        load_data();
    }

    function add_subject() {
        var id = event.target.getAttribute("data-id");
        var value = event.target.innerHTML;

        var parent = document.getElementById("sub_container");
        var temp = document.getElementById("subtemp");
        var clone = clean_temp(temp);
        parent.appendChild(clone);
        clone.getElementsByTagName("span")[0].innerHTML = value;
        clone.setAttribute("data-id", id);
        clone.classList.add("subcard");
        $("#subject").val("");
        $("#subject").attr("data-id", "");
        $("#subject").blur();
    }

    function archive() {
        var parent = event.target.parentElement.parentElement.parentElement.parentElement;
        var id = $("#facultyModalLabel").attr("data-id");
        var data = new FormData();
        data.append("facultycode", id);
        data.append("status", "C");
        send_ajax_data("change_faculty_status", data);
        load_status();
        load_data();
        $("#facultyModal").modal("hide");
        show_toast("Faculty Archived", "success");
    }

    function unarchive() {
        var parent = event.target.parentElement.parentElement.parentElement.parentElement;
        var id = $("#facultyModalLabel").attr("data-id");
        var data = new FormData();
        data.append("facultycode", id);
        data.append("status", "A");
        send_ajax_data("change_faculty_status", data);
        load_status();
        load_data();
        $("#facultyModal").modal("hide");
        show_toast("Faculty Unarchived", "success");
    }

    function edit_faculty() {
        var parent = event.target.parentElement.parentElement.parentElement.parentElement;
        var id = parent.getAttribute("data-id");
        var tabid = parent.getAttribute("data-tabid");
        $("#facultyModalLabel").html("Edit Faculty : " + id);
        $("#facultyModalLabel").attr("data-id", id);
        $("#facultyModalLabel").attr("data-tabid", tabid);

        var data = new FormData();
        data.append("facultycode", id);
        var maindetail = load_ajax_data("get_faculty_detail", data);
        detail = maindetail.data[0];
        subjects = maindetail.subjects;

        var subcon = document.getElementById("sub_container");
        var subtemp = document.getElementById("subtemp");
        subcon.innerHTML = "";
        console.log(subjects);
        for (var i = 0; i < subjects.length; i++) {
            if (subjects[i]["id"] != null) {
                var cln = clean_temp(subtemp);
                cln.getElementsByTagName("span")[0].innerHTML = subjects[i]["title"];
                cln.setAttribute("data-id", subjects[i]["id"]);
                subcon.appendChild(cln);
                cln.classList.add("subcard");
            }
        }

        $("#firstname").val(detail["firstname"]);
        $("#middlename").val(detail["middlename"]);
        $("#lastname").val(detail["lastname"]);
        $("#email").val(detail["emailid"]);
        $("#mobile").val(detail["mobile"]);
        $("#whatsapp").val(detail["whatsapp"]);
        $("#gender").attr("data-id", detail["gender"]);
        $("#dob").val(detail["dateofbirth"]);
        $("#joiningdate").val(detail["joiningdate"]);
        $("#salary").val(detail["salary"]);
        $("#aadhar").val(detail["aadharno"]);
        $("#education").val(detail["education"]);
        $("#experience").val(detail["experience"]);
        $("#nameinbank").val(detail["nameinbank"]);
        $("#bankaccount").val(detail["bankaccountno"]);
        $("#loginpass").val(detail["loginpass"]);
        $("#bankcode").attr("data-id", detail["bankcode"]);
        $("#ifsc").val(detail["ifsc"]);

        if(detail["photo"] != ""){
            document.getElementById("profilepic").src = "/static/uploads/" + detail["photo"];
        }else{
            document.getElementById("profilepic").src = "/static/img/defaultuser.jpg";
        }
        document.getElementById("photofile").classList.add("old");

        $("#deletebtn").attr("hidden", false);

        var status = $(".pagestatus.active").eq(0).attr("data-status-id");
        if (status == "A") {
            $("#archivebtn").attr("hidden", false);
            $("#unarchivebtn").attr("hidden", true);
        } else {
            $("#archivebtn").attr("hidden", true);
            $("#unarchivebtn").attr("hidden", false);
        }

        set_drop_default();
        $("#facultyModal").modal("show");
    }

    function submit_data() {
        var facultycode = $("#facultyModalLabel").attr("data-id");
        var ops = document.getElementsByClassName("OP");
        var inps = document.getElementsByClassName("INP");

        var data = new FormData();
        if (facultycode != "") {
            data.append("facultycode", facultycode);
        }

        for (var i = 0; i < ops.length; i++) {
            data.append(ops[i].id, ops[i].getAttribute("data-id"));
        }
        for (var i = 0; i < inps.length; i++) {
            if (inps[i].value != "") {
                data.append(inps[i].id, inps[i].value);
            }
        }

        var subjects = document.getElementsByClassName("subcard");
        var subs = "";
        for (var i = 0; i < subjects.length; i++) {
            subs += subjects[i].getAttribute("data-id") + "^";
        }

        var photo = document.getElementById("photofile").files;
        if (photo.length > 0 && !document.getElementById("photofile").classList.contains("old")) {
            photo = photo[0];
            var filename = save_file(photo);
            filename = filename.name;
            data.append("photo", filename);
        }
        data.append("subjects", subs);
        var code = send_ajax_data("save_faculty", data);

        if (facultycode == "") {
            var message = "New faculty created with code " + code.code;
            success_modal(message);
        } else {
            var message = "Faculty with code " + code.code + " updated";
            success_modal(message);
        }
        load_data();
        $("#facultyModal").modal("hide");
    }

    function facultyModal() {
        $("#profilepic").attr("src", "{% static 'img/defaultuser.jpg' %}");
        $("#facultyModal").find(".opbtn").removeClass("active");
        $("#facultyModal").find("input").val("");
        $("#facultyModal").find("input").attr("data-id", "");
        $("#facultyModalLabel").attr("data-id", "");
        $("#facultyModalLabel").html("Add Faculty");
        $("#facultyModal").modal("show");

        document.getElementById("photofile").classList.add("old");

        $("#deletebtn").attr("hidden", true);
        $("#archivebtn").attr("hidden", true);
        $("#unarchivebtn").attr("hidden", true);
    }

    function click_profie() {
        document.getElementById("photofile").click();
    }

    function set_profile() {
        var files = document.getElementById("photofile").files;
        if (files.length > 0) {
            files = files[0];
            compressImage(files, 500, 500, 80, function (dataURL) {
                // Convert the compressed image data URL to a file object
                var newname = "compimage." + files.name.split(".").pop();
                var compressedFile = dataURLtoFile(dataURL, newname);
                document.getElementById("profilepic").src = URL.createObjectURL(compressedFile);
                var dt = new DataTransfer();
                dt.items.add(compressedFile);
                document.getElementById("photofile").files = dt.files;

                document.getElementById("photofile").classList.remove("old");
            });
        }
    }

    function load_local() {
        load_data();
    }

    function search_page() {
        load_data();
    }

    function load_data() {
        var data = new FormData();
        var search = $("#srch").val().trim().toLowerCase();
        var status = $(".pagestatus.active").eq(0).attr("data-status-id");
        data.append("status", status);
        data.append("search", search);
        var list = load_ajax_data("get_faculty_list", data);
        var parent = document.getElementById("card_container");
        var temp = document.getElementById("card_temp");
        parent.innerHTML = "";
        for (var i = 0; i < list.length; i++) {
            var row = list[i];
            var clone = clean_temp(temp);
            parent.appendChild(clone);

            $(clone).attr("data-tabid", row["id"]);
            $(clone).attr("data-id", row["facultycode"]);
            $(clone).find(".name").html(row["firstname"] + " " + row["middlename"] + " " + row["lastname"]);
            $(clone).find(".joiningdate").html(format_date(row["joiningdate"]));
            $(clone).find(".education").html(row["education"]);
            $(clone).find(".mobile").html(row["mobile"]);
            $(clone).find(".subject").html(row["subjectname"]);
            $(clone).find(".email").html(row["emailid"]);
            if (row["photo"] != "null" && row["photo"] != "") {
                clone.getElementsByClassName("small_pic")[0].src = "/static/uploads/" + row["photo"];
            }
            var exp = parseInt(row["experience"]);
            if (isNaN(exp)) {
                exp = 0;
            }

            if (exp > 0) {
                $(clone).find(".experience").html(row["experience"] + " Years");
            } else {
                $(clone).find(".experience").html("Fresher");
            }
        }

        if (status == "A") {
            $("#archivebtn").attr("hidden", false);
            $("#unarchivebtn").attr("hidden", true);
        } else {
            $("#archivebtn").attr("hidden", true);
            $("#unarchivebtn").attr("hidden", false);
        }
    }

    function load_status() {
        var data = new FormData();
        data.append("type", "FACULTY");
        var list = load_ajax_data("get_status", data);
        list = list.data;

        var parent = document.getElementById("status_container");
        var temp = document.getElementById("status_temp");

        parent.innerHTML = "";
        for (var i = 0; i < list.length; i++) {
            var clone = clean_temp(temp);
            parent.appendChild(clone);
            clone.getElementsByTagName("div")[0].innerHTML = list[i][1] + " : ";
            clone.getElementsByTagName("div")[1].innerHTML = list[i][2];
            clone.setAttribute("data-status-id", list[i][0]);
            clone.classList.add("pagestatus");
        }

        $(".pagestatus").eq(0).addClass("active");
    }

    $(window).on("load", function () {
        load_status();
        load_data();
        set_banks(document.getElementById("bankdrop"));
    })
</script>

{% endblock %}